obj
bin
debug
Debug
Debug_NoPostSharp
release
Release
Drops
_Resharper.*
_ReSharper.*
*.old
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.swp
*.dbproj.user
*.dbproj.schemaview
*.dbmdl
*.log
*.ser
/BuildArtefacts/
