<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileExclusions" value=".cache;.mst;.msm;.gitignore;.idx;.pack;.user;.resharper;.suo;.vsscc;desktop.ini;thumbs.db"/>
    <add key="DirectoryExclusions" value="bin;obj;debug;release;.git;.svn;_ReSharper.*"/>
    <add key="TokeniseFileExclusions" value=".cab;.dll;.doc;.docx;.exe;.gif;.ico;.jpg;.nupkg;.pdf;.png;.snk;.xls;.xlsx;.zip"/>
  </appSettings>
</configuration>