<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileExclusions" value=".nupkg;.cache;.mst;.msm;.gitignore;.idx;.pack;.user;.resharper;.suo;.vsscc;desktop.ini;thumbs.db"/>
    <add key="DirectoryExclusions" value="bin;obj;debug;release;.git;.svn;_ReSharper.*"/>
  </appSettings>
</configuration>